.homeBody {
    margin: 5%;
    padding: 1rem;
    color: white;
    border: 8px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, rgb(57, 95, 131)0%, rgb(108, 199, 226) 100%);
    -webkit-border-image: -webkit-linear-gradient(top, rgb(57, 95, 131) 0%,rgb(108, 199, 226) 100%);
    border-image: linear-gradient(to  bottom right, rgb(57, 95, 131), rgb(108, 199, 226));

    border-image-slice: 1;
  }
  .List{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }