
.GenreCard{
    width: 90%;
    background-color: rgb(248,248,255);
    display: flex;
    align-items: baseline;
    padding: 0.5rem;    
    border: solid grey 1px;
    margin-bottom: 2px;
    box-shadow: 2px 0px 8px 2px rgba(0,0,0,0.17);
}
.PublisherButton{
    width: 30px;
    flex-grow: 1;
}
.GenreText{    
    flex-grow: 3;
}