.formBody {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5%;
  }

  .FormBox {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
    color: white;
    border: 8px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, rgb(57, 95, 131)0%, rgb(108, 199, 226) 100%);
    -webkit-border-image: -webkit-linear-gradient(top, rgb(57, 95, 131) 0%,rgb(108, 199, 226) 100%);
    border-image: linear-gradient(to  bottom right, rgb(57, 95, 131), rgb(108, 199, 226));

    border-image-slice: 1;
  }