.bookCard{
    width: 217px;
    padding: 0.3rem;
    margin:2%;
    border: 3px solid rgba(81, 82, 83, 0.452);
    box-shadow: -7px -1px 13px -4px rgba(0,0,0,0.75);

}

.bookInfo{
    padding: 0.5rem;
}

.buttonGroup{
    display: flex;
    justify-content: space-evenly;
}